/* Thi sis my personalised CSS for the final project */
body{
    background-color: #ededed;
}



nav{
    height: 70px;
}


.card{
    margin: auto;
    margin-top: 30px;
    width: 100%;
}

@media only screen and (max-width:600px) {
.card{
    margin: auto;
    margin-top: 30px;
    width: 89%;
}
}

.tabs{
    width: 50% !important;
    margin-left: 80px;
}




nav .brand-logo{
    position: relative;
    left: 80px;
}

.fixed-action-btn ul li:hover{
    background-color: transparent;
}



.well {
    border: 5px solid black;
}

.width-80 {
    width: 80%;
}





.currency {
    font-size: 1.9em;
    font-weight: 400;
}

#login .card {
    display: block;
    margin: 1.2in auto;
    margin-left: 0.3in;
    height: 4in;
}



#login .card img{
    display: block;
    width: 1.5in;
    height: 1.5in;
    margin: 30px auto;
    border-radius: 300px;
}

#login #title{
    display: block;
    text-align: center;
    font-family:cursive;
    font-size: 2em;
    color: #e74c3c;
    margin-top: -30px;
    margin-bottom: 30px;
}

#login a{
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 1.3em;
}

.upload-section {
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.hide {
    display: none;
    transition: 3s ease;
}
