/* Thi sis my personalised CSS for the final project */
body{
    background-color: #f8f8f8;
}




nav{
    height: 70px;
}


.card{
    margin: auto;
    margin-top: 30px;
    width: 100%;
}

.card-title{
    margin: auto;
    margin-top: 30px;
    width: 60%;
    overflow: hidden;
}




@media only screen and (max-width:600px) {
.card{
    margin: auto;
    margin-top: 30px;
    width: 89%;
}
}

.tabs{
    width: 50% !important;
    margin-left: 80px;
}




nav .brand-logo{
    position: relative;
    left: 80px;
}

.brand-logo i{
    position: relative;
    bottom:60px;
    left: 900px;
    width:60px;
    height:60px !important;
    text-align: center;
    font-size: 1.8em !important;
    color: #fff;
}
#user-details{
    position: relative;
    bottom: 120px;
    left: 970px;
}

.fixed-action-btn ul li:hover{
    background-color: transparent;
}



.width-80 {
    width: 80%;
}


.currency {
    font-size: 1.9em;
    font-weight: 400;
}

#login .card {
    display: block;
    margin: 1.2in auto;
    margin-left: 0.3in;
    height: 4in;
}



#login .card img{
    display: block;
    width: 1.5in;
    height: 1.5in;
    margin: 30px auto;
    border-radius: 300px;
}

#login #title{
    display: block;
    text-align: center;
    font-family:cursive;
    font-size: 2em;
    color: #e74c3c;
    margin-top: -30px;
    margin-bottom: 30px;
}

#login a{
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 1.3em;
}

.upload-section {
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.hide {
    display: none;
    transition: 3s ease;
}

#info-layer {
    margin: 100px auto;
}

#info-layer .card{
    width: 90%;
    height: 40px;
    padding: 20px 0px 50px 0px;
    text-align: center;
    font-size: 1.4em;
}

#hidden-layer {
    display: none;
}



.grey-out {
    position: absolute;
    z-index: 3000;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 9em;
    background-color: rgba(102, 102, 102, 0.73);

}

#desc {
    margin-left: 10px;
}

label[for="desc"]{
    padding-left: 10px;
}



label[for="food-type"], label[for="food-vendor"]{
    position: relative;
    padding-bottom: 5px;
    top: 3%;
    color: #666;
}

button[value="Upload"]{
    border: 1px solid none;
    border-radius: 3px;
}

#fav-btns i{
    margin: 0px 5px 0px 5px;
    position: relative;
    background-color:#ea454b;
    color: #fff;
    bottom: 20px;
    border:3px solid inherit;
    border-radius: 30px;
    right: -100px;
    font-size: 1.5em;
    width: 40px;
    padding: 10px;
    box-shadow: 0px 2px 5px #888888;
    z-index: 5;
}

#fav-btns i:hover{
 transition: 0.3s ease-in;
  box-shadow: 0px 4px 10px #888888;
}

#fav-btns span{
    position: absolute;
    font-size: 0.6em;
    font-family: "Roboto",sans-serif;
    border: 1px solid none;
    border-radius: 100px;
    width:20px;
    height:20px;
    color: black;
    text-align: center;
    background-color:pink;
    z-index: 6;
    box-shadow: 0px 4px 10px #888888;
    bottom: 25px;
}

.card p{
    position: relative;
    top: 20px;
}


.index-option {
    display: block;
    margin: -20% auto;
    height: 100px !important;
    text-align: center;
}

.index-option a{
    margin: 0px;
    color:grey;
    font-size: 1.2em;
    width: 100% ;
    margin: 0px 10px 0px 10px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px #888888;


}

.index-option a:hover{
    transition: 0.3s ease-in;
    background-color:rgb(235, 235, 235);
    color: #666;
    box-shadow: 0px 10px 12px #888888;
}

.index-option a:nth-child(4){
    position: absolute;
    width: 70px;
    height: 70px;
    padding-top: 4px;
    font-size: 2.5em;
    margin: 0px;
    color: #fff;
    border-radius: 500px;
    text-align: center;
}



.index-option a>div{
    display: inline-block;
    width: 160px;
    height: 160px;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid none;
    margin: 10px 20px 10px 20px;
    border-radius: 100px;
    background-color: #fff;
}



.index-option a>div>img{
    text-align: center;
    width: 160px;
    height: 160px;
}

.app-title img{
    margin-left: 13%;
    width: 76%;
    height: 40%;
}




